body {
    background-image: url(../Images/honeycomb2.jpg);
}

#mainCont{
    background-color: rgba(128, 128, 128, 0.9);
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1.5rem 2rem;
    border-style: solid;
    border-width: .1rem;
    border-color: black;
    border-radius: .5rem;
}

.titleCol {
    text-align: center;
}

h1 {
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(204, 204, 204, 0.849);
    border-style: solid;
    border-width: .05rem;
    border-color: black;
    border-radius: .2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-bottom: 1rem;
}

#rulesP {
    background-color: rgb(211, 211, 211);
    padding: .8rem .4rem;
    border-style: solid;
    border-width: .05rem;
    border-color: black;
    border-radius: .2rem;
    font-weight: 4px;
}

.enemyImg {
    max-width: 100%;
    border-style: solid;
    border-width: .05rem;
    border-color: black;
    border-radius: .7rem;
}

.playerBee {
    max-width: 100%;
    background-color: darkslategray;
    border-style: solid;
    border-width: .05rem;
    border-color: black;
    border-radius: .7rem;
}

.enemyText {
    position: absolute;
    width: 100%;
    top: 5%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: bolder;
}

.winCard {
    width: 100%;
    z-index: 100;
    opacity: 0.0;
    position: fixed;
    top: 20px;
    text-align: center;
    background-color: darkslategray;
    font-size: 30px;
    color: white;
    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-color: lightgrey;
}

.lossCard {
    width: 100%;
    z-index: 100;
    opacity: 0.0;
    position: fixed;
    top: 20px;
    text-align: center;
    background-color: darkslategray;
    font-size: 30px;
    color: white;
    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-color: lightgrey;
}

.waspGuy {
    margin-top: .5rem;
    margin-bottom: .7rem;
}

.damageRow {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: darkslategrey;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-weight: 4px;
    border-radius: .3rem;
}

.scoreRow {
    font-size: 1.5rem;
    font-style: bold;
}

/* .damageRow {
    height: 50%;
}
.scoreRow {
    height: 50%;
} */


